/* CSS code */


body {
    font-family: Arial, sans-serif;
    background-color:  #dd840f;
}

#logo {
    text-align: center;
    margin-top: 10px;
  }
  
#logo img {
    border-radius: 30%;
    border: 10px solid white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
#headline {
    text-align: center;
    margin-top: 30px;
}

.nav {
    text-align: center;
    margin-top: 30px;
}

.nav a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    

}

select{
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nav a:hover {
    background-color: #3e8e41;
}

h1 {
    text-align: center;
}

button[type="button"] {
    background-color: #080808;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }


table {
    margin: 50px auto;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}