/* CSS code */
body {
    font-family: Arial, sans-serif;
    background-color:  #dd840f;
}

#logo {
    text-align: center;
    margin-top: 50px;
}

#headline {
    text-align: center;
    margin-top: 50px;
}

.nav {
    text-align: center;
    margin-top: 50px;
}

.nav a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: #3e8e41;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}